{% extends "base.html" %}
{% block title %}THREDDS Sewing Machine - Powered by Unidata{% endblock %}

{% block body %}
    <div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <div class="opaque-container">
                        <h1>THREDDS Sewing Machine</h1>
                        <h3>The easiest way to configure your TDS!</h3>
                        <hr class="intro-divider">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
